<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2kvFq3sk2OQ-QOb3C0xcMI7_1VHfn0CM</string>
	<key>GCM_SENDER_ID</key>
	<string>322016174668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kidiplus.app</string>
	<key>PROJECT_ID</key>
	<string>kidiplus-a079a</string>
	<key>STORAGE_BUCKET</key>
	<string>kidiplus-a079a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322016174668:ios:e7df56ae94f216cfe2cae9</string>
</dict>
</plist>